body {
  background-color: black;
  font-family: verdana;
  text-align: center;
}

h1,
h2 {
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 40px;
  font-weight: 300;
}

a {
  color: aquamarine;
  font-size: 16px;
}

p {
  color: grey;
  font-size: 21px;
}

#section3 p {
  text-align: right;
}
